MYSQLDB_USER=root
MYSQLDB_ROOT_PASSWORD=Password
MYSQLDB_DATABASE=wine_store_db_name
MYSQL_LOCAL_PORT=local port like 3309
MYSQL_DB_DOCKER_PORT=docker port like 3306

SPRING_LOCAL_PORT=local port like 8080
SPRING_DOCKER_PORT=sprint docker port like 8080
DEBUG_PORT=debug port like 5005

SPRING_DATASOURCE_USERNAME=db name
SPRING_DATASOURCE_PASSWORD=db password

JWT_EXPIRATION=enter 8 digits here
JWT_SECRET=enter more than 40 numbers and symbols here
BOT_NAME=
BOT_TOKEN=
TELEGRAM_BOT_ENABLED=false