.loadvines
src/main/java/com/winestoreapp/temp/DockerfileTemplate
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/java/com/winestoreapp/temp/
/src/main/resources/info/
/DockerfileTempl
/upload/pictures/wine/*
/.metadata/
/.mvn/
/x.dockerignore
/mvnw.cmd
/mvnw
/src/main/resources/static/pages/
/src/main/resources/static/index.html

/src/main/resources/static/images/wine/Aligote-White-Dry.png
/src/main/resources/static/images/wine/Aligote-White-Dry3.png
/src/main/resources/static/images/wine/Cabernet-Sauvignon-Red-Dry.png
/src/main/resources/static/images/wine/Cabernet-Sauvignon-Red-Dry3.png
/src/main/resources/static/images/wine/Chardonnay-Reserve-White-Dry.png
/src/main/resources/static/images/wine/Chardonnay-Reserve-White-Dry3.png
/src/main/resources/static/images/wine/Chardonnay-White-Dry.png
/src/main/resources/static/images/wine/Chardonnay-White-Dry3.png
/src/main/resources/static/images/wine/Chateau-Trubetskoi-Red-Dry.png
/src/main/resources/static/images/wine/Chateau-Trubetskoi-Red-Dry3.png
/src/main/resources/static/images/wine/malbec-Red-Dry.png
/src/main/resources/static/images/wine/malbec-Red-Dry3.png
/src/main/resources/static/images/wine/Merlot-Red-Dry.png
/src/main/resources/static/images/wine/Merlot-Red-Dry3.png
/src/main/resources/static/images/wine/Pinot-Blanc-White-Dry.png
/src/main/resources/static/images/wine/Pinot-Blanc-White-Dry3.png
/src/main/resources/static/images/wine/Pinot-Noir-Red-Dry.png
/src/main/resources/static/images/wine/Pinot-Noir-Red-Dry3.png
/src/main/resources/static/images/wine/Riesling-White-Dry.png
/src/main/resources/static/images/wine/Riesling-White-Dry3.png
/src/main/resources/static/images/wine/Sauvignon-White-Dry.png
/src/main/resources/static/images/wine/Sauvignon-White-Dry3.png
/src/main/resources/static/images/wine/Shiraz-RedDry.png
/src/main/resources/static/images/wine/Shiraz-RedDry3.png
/src/main/resources/static/images/wine/Steppe-Pearl-White-Dry.png
/src/main/resources/static/images/wine/Steppe-Pearl-White-Dry3.png
/src/main/resources/static/images/wine/Velvet-of-Ukraine-Red-Dry.png
/src/main/resources/static/images/wine/Velvet-of-Ukraine-Red-Dry3.png
